<div fxLayout="row" fxFlexFill>
  <mat-card class="folder-column">
    <mat-list class="item-list">
      <app-bookmark-item></app-bookmark-item>
      <app-folder-item></app-folder-item>
      <app-bookmark-item></app-bookmark-item>
      <app-bookmark-item></app-bookmark-item>
      <app-folder-item></app-folder-item>
      <app-folder-item></app-folder-item>
      <app-bookmark-item></app-bookmark-item>
      <app-bookmark-item></app-bookmark-item>
      <app-folder-item></app-folder-item>
      <app-folder-item></app-folder-item>
      <app-bookmark-item></app-bookmark-item>
      <app-bookmark-item></app-bookmark-item>
      <app-folder-item></app-folder-item>
    </mat-list>
  </mat-card>
  <!-- <div class="folder-column">
    <app-folder-detail></app-folder-detail>
  </div>
  <div class="folder-column">
    <app-folder-detail></app-folder-detail>
  </div> -->
</div>