<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu class="bookmark-item-context-menu" #contextMenu="matMenu" backdropClass="context-menu">
  <button mat-menu-item class="context-menu-item" (click)="onEditButtonClick()">
    <mat-icon class="icon">edit</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item class="context-menu-item" (click)="onDeleteButtonClick()">
    <mat-icon class="icon">delete</mat-icon>
    <span>Delete</span>
  </button>
  <button mat-menu-item class="context-menu-item">
    <mat-icon class="icon">file_copy</mat-icon>
    <span>Copy</span>
  </button>
  <!-- <mat-divider></mat-divider>
  <button mat-menu-item class="context-menu-item">
    <mat-icon class="icon">open_in_browser</mat-icon>
    <span>Open In Browser</span>
  </button>
  <button mat-menu-item class="context-menu-item">
    <mat-icon class="icon">open_in_new</mat-icon>
    <span>Open In Window</span>
  </button> -->
</mat-menu>