<div class="container" fxLayout="column" fxFlexFill (contextmenu)="onContextMenu($event)">
  <div class="nav">
    <mat-toolbar color="primary" class="nav">
    </mat-toolbar>
  </div>
  <div class="wrapper" fxLayout="row">
    <div class="side" fxFlex="300px">
      <div style="height: 2000px;">
        side
      </div>
    </div>
    <div class="content" fxFlex="grow">
      <app-folder-detail></app-folder-detail>
      <!-- <app-folder-column-view></app-folder-column-view> -->
    </div>
  </div>
</div>