<div class="container" fxLayout="column" fxFlexFill (contextmenu)="onContextMenu($event)" appContextMenu
  [contextMenuType]="'Container'">
  <app-bookmark-item-context-menu></app-bookmark-item-context-menu>
  <div class=" nav">
    <mat-toolbar color="primary" class="nav">
    </mat-toolbar>
  </div>
  <div class="wrapper" fxLayout="row">
    <div class="side" fxFlex="300px">
      <div style="height: 2000px;">
        side
      </div>
    </div>
    <div class="content" fxFlex="grow">
      <app-folder-detail></app-folder-detail>
    </div>
  </div>
</div>