.bookmark-item {
  font-size: 13px;
  height: 42px;
  cursor: pointer;
  &:hover {
    background: rgba(0,0,0,.04);
  }

  .title {
    margin-right: 10px;
  }

  .link {
    color: rgba(0, 0, 0, 0.54);
  }
}
